---
import Item from '../components/Item.astro'
import { Image } from 'astro:assets';
import icon from '../images/icon.png'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>yank.nvim wishlist</title>
	</head>
	<body>
    <div class="flex gap-4 justify-center items-center m-2">
      <Image src={icon} alt="Icon" width="80" class="rounded-full" />
		  <h1 class="text-4xl font-bold">Wishlist</h1>
    </div>
    
    <ul class="grid grid-cols-1 sm:grid-cols-2"> 
      <Item title="【オリジナル3Dモデル】セフィラ（Sephira）◆アッシュ共通素体" genre="アバター" url="https://booth.pm/ja/items/2953001" />
      <Item title="【VRChat向け3Dモデル】ルギネア(RUGINEA)" genre="アバター" url="https://booth.pm/ja/items/3910335" comment="高いね…送りつけられたら飛び跳ねて天井を破壊します" />
      <Item title="【12アバター対応】スクールエレガン　/　SCHOOL ELEGAN" genre="衣装" url="https://booth.pm/ja/items/5089792" comment="カリン、薄荷用希望" />
      <Item title="【薄荷対応】PolarWhite　コーデセット/Polar White" genre="衣装" url="https://booth.pm/ja/items/4394056" />
      <Item title="衣装モデル『シンプルパーカー-Simple Parka-』" genre="衣装" url="https://booth.pm/ja/items/2829984" comment="薄荷用希望" />
      <Item title="EchoSpin CS" genre="アクセサリー" url="https://booth.pm/ja/items/5004718" comment="すき。ほしい。"/>
      <Item title="うまい棒" genre="たべもの" url="どこでもうってる" comment="リアルであったら餌付けするといいかも" />
    </ul>

    <p class="text-center">This page is built by <a href="https://astro.build" class="text-blue-400">Astro</a><p>
	</body>
</html>
